.Box{
    border: 1px solid pink;
    border-radius: 10px;
    margin-bottom: 1%;

}
.detailTitle{
    font-size: medium;
    text-align: left;
    height: 20%;
    margin-left: 4%;
}
#title{
    font-size: small;
}
#category{
    font-size: small;
    color: blue;
}
#contents{
    font-size: medium;
    width: 100%;
}
.conBox{
    display: flex;    
}
.dataBox{
    display: flex;
    border-bottom: 2px solid gray;
}
#btn{
    cursor: pointer;
    border: none;    
    background-color: white;
    border-radius: 10px;
}
.modal-text{
    text-decoration:none;
    color:black;
}
.modal-container{
    width: 20%;
    top: 90%;
    left: 80%;
    text-align: center;
}