#btn{
    cursor: pointer;
    position: fixed;
    top: 0.1%;
    left: 93%;
    transform: -50%, -50%;
    border: 1px solid;
    background-color: white;
}
.modal-text{
    text-decoration:none;
    color:black;
}
.modal-container{
    width: 20%;
    top: 3%;
    left: 82%;
    text-align: center;
}
.detailTitle{
    font-size: medium;
    text-align: left;
    height: 20%;
    margin-left: 4%;
}


#middleBox{
    height: 60vh;
    padding: 4%;
    /* border: 1px solid; */
}
#repleBox{
    /* height: 20%; */
}